<p>
   <table class="table table-striped">
      <tr>
        <th>Author</th>
        <th>Comment</th>
        <th colspan="1"></th>
      </tr>
     
       <% @post.comments.each do |comment| %>
        <tr>
          <td><%= comment.commenter %></td>
          <td><%= comment.body %></td>
          <td>
           <%= link_to 'Delete Comment',  [comment.post, comment],
               class: "btn btn-danger",
              
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %>
        
   </table>


  