<p>
   <table class="table table-striped">
    <% if @post.comments.length >= 1 %>
    <h2> Comments </h2>
      <tr>
        <th>Author</th>
        <th>Comment</th>
        <th colspan="1"></th>
      </tr>
     
       <% @post.comments.each do |comment| %>
        <tr>
          <td><%= comment.user.name %>
              <%= gravatar_for comment.user %></td>
          <td><%= comment.body %></td>

          <td>
          <div class="explosion">
          <% if logged_in? and comment.user_id == current_user.id%>
           <%= link_to image_tag("http://vignette2.wikia.nocookie.net/uncyclopedia/images/6/63/Nuclear_explosion_ar.jpg/revision/latest?cb=20061208030835"),  [comment.post, comment],
               
              
               method: :delete,
               data: { confirm: 'Are you sure?' } %></div>
          </td>
          <% end %>
          <% end %>
        <% end %>
        
   </table>


  