<div id="welcome">
    <div class="container">
      <br>
      <br>

      <h1 class="well text-center">Welcome to Urban Sherpa </h1>
      <%= link_to 'Urban Sherpa', controller: 'posts' %>
      <div class="front jumbotron">
        <p>Bacon ipsum dolor amet beef cupim chuck shank bacon, alcatra short ribs picanha bresaola cow strip steak pastrami chicken sausage brisket. Kevin corned beef hamburger biltong sirloin rump. Picanha spare ribs ham, cupim pig short loin turducken. Tenderloin jerky tail, spare ribs shoulder ground round venison picanha beef shankle biltong tongue kielbasa. Hamburger landjaeger kevin, salami andouille ground round rump biltong meatball doner tri-tip flank. Andouille shank kielbasa, jowl drumstick pancetta salami pork belly turkey ribeye sirloin. Biltong meatloaf shoulder ham jowl kevin chicken drumstick sausage bresaola ground round strip steak ribeye picanha tail.
        <br>
        <br>
        Short ribs venison ribeye, tri-tip tongue picanha beef leberkas kevin fatback shankle ham. Jowl ball tip porchetta pig meatloaf beef kevin bacon jerky rump tenderloin. T-bone ribeye turkey pork pastrami filet mignon chuck ham hock corned beef shank ground round frankfurter pork chop porchetta drumstick. Flank shoulder porchetta alcatra capicola turkey pork chop fatback pork belly biltong venison short ribs ball tip short loin. Beef ribs short ribs tail shoulder porchetta corned beef. Kielbasa leberkas biltong meatball ham, filet mignon turkey sirloin pork belly.
        <br>
        <br>
        Kevin tongue short ribs chuck bresaola swine, corned beef prosciutto jerky pig beef venison. Andouille frankfurter hamburger doner pork loin strip steak jerky tri-tip flank, fatback pig venison shankle swine. Hamburger tongue pastrami, prosciutto meatloaf beef ribs picanha alcatra tail. Salami doner ribeye, strip steak venison meatloaf spare ribs brisket tail andouille bacon boudin.
        </p>
      </div>



    </div>
</div>
